<div class="container">
    <h1>Hero Form</h1>
    <form>
{{diagnostic}}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required  [(ngModel)]="model.name" name="name" >
        </div>
        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input id="alterEgo" type="text" class="form-control" [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>

        <div class="form-group">
            <label for="power">Hero Power</label>
            <select  [(ngModel)]="model.power" [ngModelOptions]="{standalone: true}" class="form-control" id="power" required>
                <option *ngFor="let p of powers" [value]="p">{{p}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
